/* Document font family */
body,
footer {
  font-family: arial, helvetica, sans-serif;
}

a {
  color: #e4e3d7;
}

/* Nav styling */
header {
  background-color: #0c4004;
  height: 50px;
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-evenly;
  margin: -10px;
}

/* Hero styling */
.hero {
  background-color: #0c4004;
  background-image: url(/imgs/workspace-laptop.jpg);
  background-repeat: 0;
  background-size: cover;
  height: 300px;
  margin: 10px -10px 0px -10px;
  color: #e4e3d7;
}

.space {
  height: 50px;
  background-color: #e4e3d7;
  margin: 0px -10px 0px -10px;
}

/* Education section */
.education {
  background-color: white;
  margin: 0px -10px 0px -10px;
}

#codespace {
  background-color: grey;
  border-radius: 3px;
  height: 30px;
  width: 170px;
}

#uct {
  height: 30px;
  width: 220px;
}

.projects {
  background-color: #e4e3d7;
  margin: 0px -10px 0px -10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* Skills section */
.skills {
  background-color: #e4e3d7;
  display: grid;
  margin: 0px -10px 0px -10px;
  padding: 1rem;
}

/* Footer */
footer {
  background-color: #0c4004;
  color: #e4e3d7;
  margin: 0px -10px -10px -10px;
  padding: 3rem;
  height: 400px;
}

textarea {
  width: 80%;
  padding: 10px;
  margin: 5px 0px;
  border: 0;
  border-radius: 7px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

#subject {
  padding: 10px;
  margin: 5px 0px;
  border: 0;
  border-radius: 7px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

#email {
  padding: 10px;
  margin: 5px 0px;
  border: 0;
  border-radius: 7px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

#country {
  width: 200px;
  padding: 10px;
  margin: 5px 0px;
  border: 0;
  border-radius: 7px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.socials {
  padding: 1rem;

  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  align-content: space-evenly;
}

/* Mobile */
@media only screen and (min-width: 300px) {
  header {
    font-size: 12px;
  }

  .hero {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
  }

  #hero-image {
    border-radius: 7px;
    height: 125px;
    width: 150px;
  }

  h1 {
    font-size: 25px;
  }

  p {
    font-size: 9px;
  }

  .education {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1rem;
    align-items: center;
    text-align: center;
  }

  h2 {
    font-size: 17px;
    text-align: center;
  }

  h3 {
    font-size: 13px;
  }

  .experience {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 40px 150px;
    gap: 5px;
  }

  #experience-h {
    grid-area: 1 / 1 / 2 / 4;
  }

  #experience-1 {
    background-color: #0c4004;
    border-radius: 3px;
    color: #e4e3d7;
    height: 120px;
    padding: 5px;
    grid-area: 2 / 1 / 4 / 2;
  }

  #experience-2 {
    background-color: #0c4004;
    border-radius: 3px;
    color: #e4e3d7;
    height: 120px;
    padding: 5px;
    grid-area: 2 / 2 / 3 / 3;
  }

  #experience-3 {
    background-color: #0c4004;
    border-radius: 3px;
    color: #e4e3d7;
    height: 120px;
    padding: 5px;
    grid-area: 2 / 3 / 3 / 4;
  }

  .skills {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 40px 150px 40px;
    gap: 5px;
  }

  #skills-h {
    grid-area: 1 / 1 / 2 / 4;
  }

  #skill-1 {
    grid-area: 2 / 1 / 3 / 2;
  }

  #skill-2 {
    grid-area: 2 / 3 / 4 / 4;
  }

  #skill-3 {
    grid-area: 2 / 2 / 3 / 3;
  }

  #skill-4 {
    grid-area: 3 / 1 / 4 / 2;
  }

  #skill-5 {
    grid-area: 3 / 2 / 4 / 4;
  }
}

/* Tablet */
@media only screen and (min-width: 768px) {
  header {
    font-size: 14px;
  }

  .hero {
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 50px;
    gap: 0px 50px;

    text-align: left;
    padding: 1rem;
  }

  #hero-image {
    grid-area: 1 / 2 / 3 / 3;
    border-radius: 10px;
    height: 350px;
    width: 420px;
    position: relative;
    bottom: -30px;
    right: -15px;
  }

  h1 {
    font-size: 25px;
  }

  p {
    font-size: 12px;
  }

  h2 {
    font-size: 20px;
    text-align: center;
  }

  h3 {
    font-size: 17px;
  }

  .education {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }
}

/* Laptop */
@media only screen and (min-width: 1024px) {
  header {
    font-size: 16px;
  }

  h1 {
    font-size: 35px;
  }

  p {
    font-size: 18px;
  }

  h2 {
    font-size: 28px;
    text-align: center;
  }

  h3 {
    font-size: 20px;
  }

  .hero {
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px 50px;
    gap: 0px 50px;

    text-align: left;
    padding: 1rem;
    height: 400px;
  }

  #hero-image {
    grid-area: 1 / 2 / 3 / 3;
    border-radius: 10px;
    height: 450px;
    width: 550px;
    position: relative;
    bottom: -30px;
    right: -15px;
  }

  .education {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: 300px;
  }

  .experience {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 60px 150px;
    gap: 5px;

    height: 300px;
  }

  #experience-h {
    grid-area: 1 / 1 / 2 / 4;
  }

  #experience-1 {
    background-color: #0c4004;
    border-radius: 7px;
    color: #e4e3d7;
    height: 200px;
    padding: 5px;
    grid-area: 2 / 1 / 4 / 2;
    margin: 0px 10px 10px 10px;
  }

  #experience-2 {
    background-color: #0c4004;
    border-radius: 7px;
    color: #e4e3d7;
    height: 200px;
    padding: 5px;
    grid-area: 2 / 2 / 3 / 3;
    margin: 0px 10px 10px 10px;
  }

  #experience-3 {
    background-color: #0c4004;
    border-radius: 7px;
    color: #e4e3d7;
    height: 200px;
    padding: 5px;
    grid-area: 2 / 3 / 3 / 4;
    margin: 0px 10px 10px 10px;
  }

  .skills {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 70px 150px 40px;
    gap: 5px;

    height: 300px;
  }

  #skills-h {
    grid-area: 1 / 1 / 2 / 4;
  }

  #skill-1 {
    grid-area: 2 / 1 / 3 / 2;
    margin: 0px 10px 10px 10px;
  }

  #skill-2 {
    grid-area: 2 / 3 / 4 / 4;
    margin: 0px 10px 10px 10px;
  }

  #skill-3 {
    grid-area: 2 / 2 / 3 / 3;
    margin: 0px 10px 10px 10px;
  }

  #skill-4 {
    grid-area: 3 / 1 / 4 / 2;
    margin: 20px 10px 10px 10px;
  }

  #skill-5 {
    grid-area: 3 / 2 / 4 / 4;
    margin: 20px 10px 10px 10px;
  }

  textarea {
    width: 60%;
  }
}
